# Data Manipulation with Pandas
Pandas data structure:-
**Series and DataFrames**

In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.Series([0.25,0.5,0.75,1.0])
print(data)
print("\n",data.values)
print("\n",data.index)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

 [0.25 0.5  0.75 1.  ]

 RangeIndex(start=0, stop=4, step=1)

In [8]:
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [3]:
population_dict={'Mysore':1239012,'Bangalore':4932324}
population_data = pd.Series(population_dict)
print(population_data)

Mysore       1239012
Bangalore    4932324
dtype: int64

In [10]:
#NaN as missing elements
dict={'a':12,'b':44}
data = pd.Series(dict, index=['a','b','c','d'])
print(data)

a    12.0
b    44.0
c     NaN
d     NaN
dtype: float64

**Create a series from scalar**

In [11]:
s = pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

**Accessing data from series with python**

In [6]:
s= pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['b'])
print(s[['a','e']])
print()
print(s[:3])
print()
print(s[::2])

2
a    1
e    5
dtype: int64

a    1
b    2
c    3
dtype: int64

a    1
c    3
e    5
dtype: int64

# Data Frame
Two or more dimensional data structure.
**Features**
Size-mutable
Labeled axes
potentially columns are of different types
can perform airthmetic operations on rows and columns

In [7]:
# pandas.DataFrame( data, index, columns, dtype, copy)
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [15]:
data = [['Alex', 10],['Bob',12],['Clark',43]]
df = pd.DataFrame(data, columns=['Name','Age'], dtype=float)
print(df)

    Name   Age
0   Alex  10.0
1    Bob  12.0
2  Clark  43.0

In [17]:
data = {'Name':['Tom',"jack"],'Age':[28,24]}
df = pd.DataFrame(data)
df1 = pd.DataFrame(data, index=['r1','r2'])
print(df)
print(df1)

   Name  Age
0   Tom   28
1  jack   24
    Name  Age
r1   Tom   28
r2  jack   24

Creating data frame from list of dict

In [19]:
data = [{'a':1,'b':2},{'a':5,'b':10,'c':12}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  12.0

In [28]:
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
print(data)
print(data['b'])
#add new index and value
data['e']=1.25
print(data)
# slicing by explicit index
print(data['b':'c'])
#slicing by implicit integer index
print(data[2:4])
#masking
print(data[(data>0.3)&(data<0.8)])
#fancy indexing
print(data[['a','e']])

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5
a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64
b    0.50
c    0.75
dtype: float64
c    0.75
d    1.00
dtype: float64
b    0.50
c    0.75
dtype: float64
a    0.25
e    1.25
dtype: float64

In [33]:

d = {'one':pd.Series([1,2,4], index=['a','b','c']),'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  4.0    3
d  NaN    4