In [2]:
import pandas as pd
import numpy as np

In [4]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data)

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print (df1)
print (df2)

   a   b     c
0  1   2   NaN
1  5  10  20.0
        a  b1
first   1 NaN
second  5 NaN

In [8]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [9]:
# Program to create DataFrame from 2D array 
import pandas as pd # Import Library 
d1 =[[2, 3, 4], [5, 6, 7]] # Define 2d array 1 
d2 =[[2, 4, 8], [1, 3, 9]] # Define 2d array 2 
Data ={'first': d1, 'second': d2} # Define Data  
df2d = pd.DataFrame(Data)    # Create DataFrame
print(df2d)

       first     second
0  [2, 3, 4]  [2, 4, 8]
1  [5, 6, 7]  [1, 3, 9]

loc get rows or columns from label

In [8]:
df = pd.DataFrame(np.random.randn(5,3),index = ['a','b','c','d','e'], columns= ['A','B','C'])
print(df)

          A         B         C
a  0.834996  0.573555 -1.138560
b -1.148563  0.926685  0.327385
c  0.388299 -0.568219  0.601942
d -2.000731  0.506878 -0.056686
e -0.845131 -1.957454 -0.826050

In [9]:
print(df.loc[:,['A']])

          A
a  0.834996
b -1.148563
c  0.388299
d -2.000731
e -0.845131

In [10]:
print(df.loc[:,['A','B']])

          A         B
a  0.834996  0.573555
b -1.148563  0.926685
c  0.388299 -0.568219
d -2.000731  0.506878
e -0.845131 -1.957454

In [12]:
print(df.loc['a':'e'])

          A         B         C
a  0.834996  0.573555 -1.138560
b -1.148563  0.926685  0.327385
c  0.388299 -0.568219  0.601942
d -2.000731  0.506878 -0.056686
e -0.845131 -1.957454 -0.826050

iloc

In [31]:
# select all columns for mentioned rows
print(df.iloc[:2])

          A         B
a  0.834996  0.573555
b -1.148563  0.926685

In [32]:
# select particular columns for mentioned rows
print(df.iloc[:2,:1])

          A
a  0.834996
b -1.148563

In [44]:
df = pd.DataFrame(np.random.randn(8,4), columns = ['A','B','C','D'])
print(df)
print()
print(df.iloc[1:3,2:3])
print()
print(df.iloc[1:2,1:3])
print()
print(df.iloc[1:2,1:2])
print()
print(df.iloc[[1,3,5],[1,3]])

          A         B         C         D
0 -1.532058 -0.365565  0.096537 -1.170152
1 -0.311440  0.329013 -0.024778 -0.950914
2 -0.616666 -1.225145  1.400501 -0.486876
3 -1.572022 -0.083785  0.481043  1.382001
4  0.232557 -1.251559 -0.066439  0.557450
5  1.571647 -0.629516 -0.571846 -0.531753
6  0.842726 -1.279999  0.528911  1.092945
7 -0.041476 -1.964147 -0.067992 -0.794282

          C
1 -0.024778
2  1.400501

          B         C
1  0.329013 -0.024778

          B
1  0.329013

          B         D
1  0.329013 -0.950914
3 -0.083785  1.382001
5 -0.629516 -0.531753

.ix select rows from a pandas dataFrame based on values in a column

In [61]:
raw_data = {'name':['Ayush','Animesh','Avinash','Arun'], 'age':[21,20,65,23], 'gender':['Male','Male','Female','Male']}

In [62]:
df = pd.DataFrame(raw_data)
df.head(6)

      name  age  gender
0    Ayush   21    Male
1  Animesh   20    Male
2  Avinash   65  Female
3     Arun   23    Male

In [63]:
print(df.loc[df['gender'] == 'Male'])

      name  age gender
0    Ayush   21   Male
1  Animesh   20   Male
3     Arun   23   Male

In [64]:
array = ['Ayush','Animesh']
print(df['name'].isin(array))

0     True
1     True
2    False
3    False
Name: name, dtype: bool

Selected rows based on multiple conditions

In [65]:
print(df.loc[(df['age']==21)&df['name'].isin(array)])

    name  age gender
0  Ayush   21   Male

Select rows whose column value is not in an iterable array

In [66]:
print(df.loc[~df['name'].isin(array)])

      name  age  gender
2  Avinash   65  Female
3     Arun   23    Male