# Concatenating dataframes
## Concatenation syntax
pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)

In [1]:
import pandas as pd
import numpy as np

In [5]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3'],
                    'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']}, index=[0,1,2,3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [6]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],'B':['B4','B5','B6','B7'],
                    'C':['C4','C5','C6','C7'],'D':['D4','D5','D6','D7']}, index=[0,1,2,3])
df2

    A   B   C   D
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [7]:
df3 = pd.DataFrame({'A':['A8','A9','A10','A11'],'B':['B8','B9','B10','B11'],
                    'C':['C8','C9','C10','C11'],'D':['D8','D9','D10','D11']}, index=[0,1,2,3])

In [8]:
frames = [df1,df2,df3]
result = pd.concat(frames)
print(result)

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

## Sample

In [11]:
data = pd.read_csv("ign.csv")
print(data.sample(10))

       Unnamed: 0 score_phrase                             title  \
6355         6355         Okay            GoldenEye: Rogue Agent
14072       14072         Good              Sands of Destruction
14856       14856     Mediocre           Hydro Thunder Hurricane
10631       10631         Good           Frontlines: Fuel of War
13664       13664      Amazing  Grand Theft Auto: Chinatown Wars
1945         1945      Amazing               MTV Music Generator
15395       15395         Okay            Alien Breed 3: Descent
13848       13848         Okay             Jurassic:  The Hunted
10470       10470        Great                BurgerTime Delight
4628         4628      Amazing     Metal Gear Solid 2: Substance

                                                   url              platform  \
6355          /games/goldeneye-rogue-agent/xbox-662966                  Xbox
14072         /games/sands-of-destruction/nds-14235197           Nintendo DS
14856    /games/hydro-thunder-hurricane/xbox-360-66863              Xbox 360
10631    /games/frontlines-fuel-of-war/xbox-360-823999              Xbox 360
13664  /games/grand-theft-auto-chinatown-wars/psp-2915  PlayStation Portable
1945               /games/mtv-music-generator/ps-13748           PlayStation
15395      /games/alien-breed-3-descent/xbox-360-89047              Xbox 360
13848             /games/jurassic-the-hunted/ps2-22368         PlayStation 2
10470          /games/burgertime-delight/cell-14229320              Wireless
4628    /games/metal-gear-solid-2-substance/ps2-481743         PlayStation 2

       score              genre editors_choice  release_year  release_month  \
6355     6.5            Shooter              N          2004             11
14072    7.4                RPG              N          2010              1
14856    5.5     Racing, Action              N          2010              7
10631    7.6            Shooter              N          2008              2
13664    9.3             Action              Y          2009             10
1945     9.0      Music, Editor              Y          2000              1
15395    6.5            Shooter              N          2010             12
13848    6.0             Action              N          2009             11
10470    8.0             Action              Y          2008              1
4628     9.1  Action, Adventure              Y          2003              3

       release_day
6355            22
14072           19
14856           26
10631           25
13664           20
1945            11
15395           14
13848           13
10470           17
4628             3